#ignores local library directory for building
Project Poison/Library

#ignores temp folder
Project Poison/Temp

#ignores the obj library
Project Poison/obj

#ignore file types 
*.vs
*.suo
*.user
*.userprefs