#ignores local library directory for building
Project Poison/Library

#ignores temp folder
Project Poison/Temp

#ignores the obj library
Project Poison/obj

#ignore Project in Visual Studios
Project Poison/Project Poison.CSharp.csproj

#

#ignore file types 
*.vs
*.suo
*.user
*.userprefs
*.meta
*.unityproj
*.booproj
*.pidb
*.sln
Project Poison/ProjectSettings/ProjectVersion.txt